<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <context:component-scan base-package="com.atguigu" />

    <!-- 使用标签进行aop的配置: 切面配置 , 声明切点 , 位置指定 -->

    <aop:config>


        <!-- 声明切点标签
             @Pointcut
        -->
        <aop:pointcut id="pc" expression="execution(* com..impl.*.*(..))"/>
        <aop:pointcut id="mypc" expression="execution(* com..impl.*.*(..))"/>

        <!-- 切面配置标签
             @Aspect
                ref = 增强对象  order = 切面的优先级  值越小 优先级越高 在外圈
        -->
        <aop:aspect ref="txAdvice" order="5">
            <!--  begin -> @Before("pc()") -->
            <aop:before method="begin" pointcut-ref="pc" />
            <!-- commit -> @AfterReturning(value="...." , returning = "result")-->
            <aop:after-returning method="commit" pointcut="execution(* com..impl.*.*(..))"  returning="result"/>
            <!-- rollback -> @AfterThrowing(value="pc()",throwing="t")-->
            <aop:after-throwing method="rollback" pointcut-ref="pc" throwing="t" />
         </aop:aspect>

    </aop:config>

</beans>