<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--
       id -> getObject方法返回的对象的标识
             工厂bean的标识   &id值
       Class -> factoryBean标准化工厂类
    -->
    <bean id="javaBean" class="com.atguigu.ioc_05.JavaBeanFactoryBean"  >
        <!-- 此位置的属性: JavaBean工厂类配置 而不是getObject方法-->
        <property name="value" value="二狗子" />
    </bean>
</beans>